@{
    ViewData["Title"] = "Ahorcado";
}

<div>
    <h3>@ViewBag.guiones</h3>
    <h2>Letras utilizadas: </h2>
    
    <div class="LetrasBienyMal">
    @if (ViewBag.letrasUsadasBien != null)
    {
        foreach (char letra in ViewBag.letrasUsadasBien)
        {
           <p class="LetraUsadaBn"> @(letra + " ") </p>
        }
    }
    @if (ViewBag.letrasUsadasMal != null)
    {
        foreach (char letra in ViewBag.letrasUsadasMal)
        {
           <p class="LetraUsadaMl"> @(letra + " ") </p>
        }
    }
    </div>
    <h2>Intentos: @ViewBag.Intentos</h2>
    <form action='@Url.Action("ProcesarLetra", "Home")' method="POST">
    <input type="text" name="letra"/>
    <input type="submit" value="Probar letra"/>
    </form>
    
    <form action='@Url.Action("ProcesarPalabra", "Home")' method="POST">
    <input type="text" name="palabra"/>
    <input type="submit" value="Arriesgar Palabra"/>
    </form>
</div>